.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vw;
  flex-wrap: wrap;
  margin-left: -5 vw;
}


.location-info-box {
  text-align: left;
  color: white;
  padding: 10px;
  font-size: calc(6px + 2vmin);
}

h3, p {
  margin-top: 0;
  padding-top: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin: 10px 0;
}
