.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  display: flex;
  flex-direction: row;
}

h3 {
  margin-top: 0px;
  padding-top: 0px;
}

.location-info-box {
  margin-left: 5vw;
}

li {
  margin: 10px;
}
